@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura\ medium\ bt.ttf');
}

@font-face {
    font-family: 'proxima';
    src: url('../fonts/Proxima\ Nova\ Black.ttf');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.otf');
}

:root {
    // --font-family-futura: var('Futura');
    // --font-family-proxima: var('proxima');
    --header-height:3rem ;
    // defined colors
    --color-primary: #FF9F0D;
    --color-dark-black: #484848;
    --color-light-black: #717171;
    --color-white: #FFFFFF;
    --color-black: #000000;
    // defined font sizes
    // --font-size-large: 50px;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --sub-title-font-size: 1.27rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    // defined font families
    --body-font-proxima: 'proxima';
    --body-font-proxima-regular: 'ProximaNova-Regular';
    --body-font-futura: 'proxima';
    // defined font weights
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600 //defined margins
    --m-0-25: .25rem;
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    --m-3: 3rem;
    --br-0-2: 0.2rem;
    --br-1-0: 1rem;
    --br-1-5: 1.5rem;

    --space-1-rem : 1rem;
}

html {
	font-size: 100%;
	box-sizing: inherit;
	scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.nav-logo {
    width: 32px;
    height: 32px;
}

// .blob {
//     background: url('../img/blobs/angular-blobs.svg');
//     background-repeat: no-repeat;
//     background-position: 588px 0;
//     background-size: 1100px 750px;
//     @media screen and (max-width: 568px) {
//         background-position: 30px 0;
//         background-size: 350px 250px;
//     }
//     @media screen and (max-width: 320px) {
//         background-position: 30px 0;
//         background-size: 436px 250px;
//     }
// }

// .about-blob {
//     background: url('../img/blobs/about-blob.svg');
//     background-repeat: no-repeat;
//     background-position: -550px 0px;
//     background-size: 1100px 750px;
//     @media screen and (max-width: 568px) {
//         background-position: -170px 38px;
//         background-size: 409px 271px;
//     }
// }


.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 100;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 4rem;
	margin: 0 auto;
    
}

.menu {
	position: fixed;
	left: 0;
	bottom: 0;
	display: grid;
	align-content: center;
	width: 100%;
	height: 3.5rem;
	padding: 0 1rem;
	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
	background: var(--color-white);
	box-shadow: var(--shadow-medium);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    @media only screen and (max-width: 767px) {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        bottom: 0;
    }
    .logo-img{
        margin: 0 0 0 102px;

        @media only screen and (max-width: 768px) {
            margin: 0 0 0 42px ;
        }
        @media only screen and (max-width: 568px) {
            margin: 0 0 0 8px;
        }
        @media only screen and (max-width: 360px) {
            margin: 0 0 0 16px;
        }
    }
	&-list {
		display: flex;
		align-items: center;
		justify-content: space-around;
        gap: var(--space-1-rem);
        margin: 0 102px 0 0;

        @media only screen and (max-width: 768px) {
            margin: 0 62px 0 0;
        }

        @media only screen and (max-width: 568px) {
            margin: 0 0 0 -9px;
        }

        @media only screen and (max-width: 360px) {
            margin: 0 16px 0 0;
        }
        
	}

	&-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: none;
		outline: none;
		color: var(--color-light-black);
        text-decoration: none;
		&.is-active {
			position: relative;
			color: var(--color-primary);
			transition: all 0.35s ease;
		}
	}

	&-icon {
		font-size: 1.35rem;
		line-height: 1;
		color: inherit;
	}

	&-name {
		display: none;
		font-family: inherit;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 1.25;
		visibility: hidden;
		text-transform: capitalize;
	}
}

// Responsive Media Query Breakpoint
@media only screen and (min-width: 360px) {
	.menu {
		&-name {
			display: block;
			visibility: visible;
		}
	}
}

@media only screen and (min-width: 576px) {
	.menu {
		&-list {
			justify-content: center;
			column-gap: 3rem;
		}
	}
}

@media only screen and (min-width: 768px) {
	.header {
		background: var(--color-white);
		box-shadow: var(--shadow-medium);
		transition: all 0.35s ease-in-out;
	}

	.menu {
		position: relative;
		top: 0;
		right: 0;
		width: auto;
		height: auto;
		background: none;
		box-shadow: none;

		&-link {
			&.is-active::before {
				position: absolute;
				content: "";
				left: 0;
				bottom: 0;
				width: 2rem;
				height: 2px;
				border: none;
				outline: none;
				background: var(--color-light-black);
			}

			&:hover {
				color: var(--color-primary);
				transition: all 0.35s ease;
			}
		}

		&-icon {
			display: none;
			visibility: hidden;
		}

		&-name {
			font-size: 1rem;
			font-weight: 500;
			line-height: 1.5;
			margin-bottom: 0.2rem;
		}
	}
}

.container-fluid {
    .container {
        .home {
            margin: 100px 0 80px 0;
            @media only screen and (max-width: 767px) {
                margin: 50px 0 0 0;
            }
            .home-intro {
                .home-price{
                    color: var(--color-primary);
                }
                font-size: var(--big-font-size);
                font-family: var(--body-font-proxima);
                color: var(--color-dark-black);
                @media screen and (max-width: 768px) {
                    font-size: var(--h1-font-size);
                }
                @media screen and (max-width: 568px) {
                    font-size: var(--h1-font-size);
                }
            }
            .home-food {
                .home-food-image {
                    width: 500px;
                    height: 500px;
                    @media screen and (max-width: 768px) {
                        width: 400px;
                        height: 400px;
                        // margin-top: var(--m-2-5);
                    }
                    @media screen and (max-width: 568px) {
                        width: 300px;
                        height: 300px;
                        margin: 50px 0 50px 29px;
                        // margin-top: var(--m-2-5);
                    }
                    @media screen and (max-width: 400px) {
                        width: 270px;
                        height: 270px;
                        margin: 50px -16px 50px -3px;
                        // margin-top: var(--m-2-5)
                    }
                }
            }
            .home-description {
                font-size: var(--normal-font-size);
                color: var(--color-light-black);
                margin-bottom: var(--m-2);
                @media screen and (max-width: 568px) {
                    font-size: var(--small-font-size);
                    margin-bottom: var(--m-1-5);
                }
            }
            .home-contact {
                background-color: var(--color-primary);
                padding: 10px 24px;
                border-radius: var(--br-1-5);
                color: var(--color-white);
                text-decoration: none;
                margin-top: 20px;
                font-family: var(--body-font-futura);
                font-size: var(--smaller-font-size);
                @media screen and (max-width: 568px) {
                    font-size: var(--small-font-size);
                }
            }
            .home-contact:hover{
                box-shadow:  4px 4px 36px var(--color-primary);
                transition: 1000ms ease-in-out;
                cursor: pointer;
            }
        }
        .contact-summary {
            margin: 20px 0 20px 0;
            .summarys{
                @media screen and (max-width: 568px) {
                    margin: var(--m-0-75) 0 ;
                }
                .summary-tag{
                    .summary-icons {
                        font-size: 32px;
                        color: var(--color-primary)
                    }
                    .summary-icons:hover {
                        // font-size: 32px;
                        
                        background: var(--color-primary);
                        color: var(--color-white);
                        padding: 5px 8px;
                        border-radius: 100%;
                        transition: 1000ms ease-in-out;
                        box-shadow:  4px 4px 36px var(--color-primary);
                        cursor: pointer;
                    }
                }
                .summary-text {
                    font-size: var(--normal-font-size);
                    color: var(--color-black);
                    font-weight: var(--font-semi-bold);
                    font-family: var(var(--body-font-futura));
                }
                .summary-description {
                    font-size: var(--smaller-font-size);
                    color: var(--color-dark-black);
                    font-family: var(--body-font-proxima);
                }
            }
        }
        .about {
            margin: 100px 0 50px 0;
            .about-name {
                font-size: var(--h3-font-size);
                font-family: var(--body-font-futura);
                color: var(--color-primary);
            }
            .about-intro {
                font-size: var(--h2-font-size);
                font-family: var(--body-font-proxima);
                color: var(--color-light-black);
                @media screen and (max-width: 568px) {
                    margin: var(--m-0-75) 0 ;
                }
            }
            .about-food {
                .about-food-image {
                    width: 500px;
                    height: 500px;
                    @media screen and (max-width: 768px) {
                        width: 400px;
                        height: 400px;
                        margin-top: var(--m-2-5);
                        // transform : rotate(229deg);
                        border-radius : 50%;
                    }
                    @media screen and (max-width: 568px) {
                        width: 300px;
                        height: 300px;
                        // margin-top: var(--m-2-5);
                    }
                    @media screen and (max-width: 400px) {
                        width: 270px;
                        height: 270px;
                        // margin-top: var(--m-2-5);
                    }
                }
            }
            .about-description {
                font-size: var(--normal-font-size);
                color: var(--color-light-black);
                margin-bottom: var(--m-2);
                @media screen and (max-width: 768px) {
                    margin: 0 0 0 15px;
                }
                @media screen and (max-width: 568px) {
                    font-size: var(--small-font-size);
                    margin-bottom: var(--m-1-5);
                }
            }
            .more {
                background-color: var(--color-primary);
                border-radius: var(--br-1-5);
                text-decoration: none;
                color: var(--color-white);
            }
            .video {
                .icon {
                    color: var(--color-black);
                    font-size: 32px;
                }
                text-decoration: none;
                color: var(--color-light-black);
            }
        }
        .service {
            margin: 100px 0 100px 0;
            .service-name {
                font-size: var(--h3-font-size);
                font-family: var(--body-font-futura);
                color: var(--color-primary);
            }
            .service-intro {
                font-size: var(--big-font-size);
                font-family: var(--body-font-proxima);
                color: var(--color-dark-black);
                @media screen and (max-width: 568px) {
                    font-size: var(--h2-font-size);
                }
            }
            .service-img {
                    width: 100px;
                    height: 100px;
                    @media screen and (max-width: 568px) {
                        width: 80px;
                        height: 80px;
                    }
            }
            .service-img-title{
                font-size: var(--h3-font-size);
                font-family: var(--body-font-futura);
                color: var(--color-dark-black);
            }
            .service-img-description {
                .service-menu{
                    a{
                        color: var(--color-primary);
                        text-decoration: none;
                    }
                }
                font-size: var(--small-font-size);
                color: var(--color-light-black);
                @media screen and (max-width: 568px) {
                    font-size: var(--small-font-size);
                }
            }
        }
        .menus{
            
            margin-bottom: var(--m-3);
            .menu-list-name {
                font-size: var(--h3-font-size);
                font-family: var(--body-font-futura);
                color: var(--color-black);
            }
            .menu-list-intro {
                font-size: var(--big-font-size);
                font-family: var(--body-font-proxima);
                color: var(--color-primary);
                @media screen and (min-width: 569px) {
                    font-size: var(--h3-font-size);

                }
                @media screen and (max-width: 568px) {
                    font-size: var(--h2-font-size);
                }
            }
            .menu-list-description {
                font-size: var(--small-font-size);
                color: var(--color-light-black);
                @media screen and (max-width: 568px) {
                    font-size: var(--small-font-size);
                }
            }

            .menu-gallery-tabs{
                .gallery{
                    .category{
                        text-transform: capitalize;
                        font-weight: 700;
                        color: #9A9A9A;
                    }
                    .card{
                        .card-header{
                            background-color: var(--color-white);
                            .nav-tabs{
                                .nav-item{
                                    .nav-link{
                                        -webkit-transition: all 300ms ease 0s;
                                        -moz-transition: all 300ms ease 0s;
                                        -o-transition: all 300ms ease 0s;
                                        -ms-transition: all 300ms ease 0s;
                                        transition: all 300ms ease 0s;
                                        .now-ui-icons {
                                            display: inline-block;
                                            font: normal normal normal 14px/1 'Nucleo Outline';
                                            font-size: inherit;
                                            speak: none;
                                            text-transform: none;
                                            -webkit-font-smoothing: antialiased;
                                            -moz-osx-font-smoothing: grayscale;
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }

            .accordion{
                .accordion-item{
                    .food-items{
                        .food-items-title{
                            color: var(--color-primary);
                            font-family: var(--body-font-proxima);
                            font-size: var(--big-font-size);
                            @media screen and (max-width: 768px) {
                                font-size: var(--h2-font-size);
                            }
                        }
                        .food-items-description{
                            color: var(--color-light-black);
                            font-family: var(--body-font-proxima-regular);
                            font-size: var(--h3-font-size);
                            @media screen and (max-width: 768px) {
                                font-size: var(--normal-font-size);
                            }
                        }
                        .food-item-img{
                            width: 200px;
                            height: auto;
                        }
                    }
                    .accordion-button{
                        color: var(--color-primary);
                        text-decoration: none;
                    }
                    .accordion-button[aria-expanded="true"] {
                        background-color: rgba(var(--color-white),0 0,0.5);
                        
                    }
                    .accordion-button:hover{
                        // background: var(--color-primary);
                        // border-radius: 12px;
                        transform: scale(1.01);
                        transition: 1000ms ease-in-out;
                        color: var(--color-black);
                        // opacity: 0.01;
                    }
                    .accordion-button:focus {
                        outline: none !important;
                        outline-width: 0 !important;
                        box-shadow: none;
                        -moz-box-shadow : none;
                        -webkit-box-shadow: none;
                    }
                    // .accordion-header{
                        
                        
                    // }
                }
                .accordion-body{
                    .gallery-items{
                        border-radius: var(--br-1-5);
                        box-shadow:  4px 4px 16px rgba(0,0,0,0.1);
                        .card-img-top{
                            width: 70%;
                            margin-left: auto;
                            margin-right: auto;
                            -webkit-filter: drop-shadow(5px 5px 5px #222 );
                            filter: drop-shadow(5px 5px 5px var(--color-light-black));
                        }
                    }
                    .gallery-items:hover{
                        box-shadow:  8px 8px 16px rgba(0,0,0,0.3);
                        transition: 1000ms ease-in-out;
                        transform: scale(1.05) ease-in-out;
                    }
                }
            }
            .card-body{
                .card-title{
                    font-size: var(--h1-font-size);
                    color: var(--color-primary);
                    // border-bottom: 1px solid var(--color-black);
                    padding: 0 0 var(--m-0-75) 0;
                    @media screen and (max-width: 768px) {
                        font-size: var(--h2-font-size);
                        // font-size: var(--sub-title-font-size);
                        // margin: 0 0 0 -1px;
                    }
                    @media screen and (min-width: 569px) {
                        font-size: var(--h2-font-size);
                        // font-size: var(--sub-title-font-size);
                        // margin: 0 0 0 -1px;
                    }
                    @media screen and (max-width: 328px) {
                        font-size: var(--h2-font-size);
                        // margin: 0 0 0 54px;
                    }
                }
                margin-top: var(--m-0-75);
                .menu-list-btn{
                    background: var(--color-primary);
                    padding: var(--m-1) var(--m-2-5);
                    border-radius: 43px 0 16px 0;
                    @media screen and (max-width: 568px) {
                        padding: var(--m-0-75) var(--m-1);
                        border-radius: 43px 0 16px 0;
                    }
                    .menu-list-btn-icon{
                        font-size: var(--h1-font-size);
                        color: var(--color-white);
                        @media screen and (max-width: 568px) {
                            font-size: var(--normal-font-size);
                        }
                    }
                }
                .menu-item-price{
                    font-size: var(--h1-font-size);
                    color: var(--color-dark-black);
                    font-family: var(--body-font-proxima-regular);
                    margin: 0 0 0 53px;
                    @media screen and (max-width: 1024px) {
                        font-size: var(--h3-font-size);
                        // font-size: var(--sub-title-font-size);
                        margin: 0 0 0 -1px;
                    }
                    @media screen and (min-width: 569px) {
                        font-size: var(--normal-font-size);
                        // font-size: var(--sub-title-font-size);
                        margin: 0 0 0 20px;
                    }
                    @media screen and (max-width: 328px) {
                        font-size: var(--small-font-size);
                        margin: 8px 0 0 0;
                    }
                }
            } 
            // .menu-list-load-more{
            //     background-color: var(--color-primary);
            //     border-radius: var(--br-1-5);
            //     font-family: var(--body-font-futura);
            //     text-decoration: none;
            //     color: var(--color-white);
            //     width: 130px;
            //     padding: var(--m-0-75) var(--m-1-5);
            // }
        }
        .footer{
            .footer-section {
                // background: #151414;
                position: relative;
                .footer-cta {
                    border-bottom: 1px solid #373636;
                    .single-cta i {
                        color: var(--color-primary);
                        font-size: 30px;
                        float: left;
                        margin-top: 8px;
                        }
                        .cta-text {
                            padding-left: 15px;
                            display: inline-block;
                            h4 {
                                color: var(--color-primary);
                                font-size: 20px;
                                font-family: var(--body-font-futura);
                                font-weight: 600;
                                margin-bottom: 2px;
                            }
                            span {
                                color: var(--color-light-black);
                                font-size: 15px;
                            }
                        }
                }
                .footer-content{
                    position: relative;
                    z-index: 2;
                    .footer-widget{
                        .footer-logo {
                            margin-bottom: 30px;
                            img {
                                max-width: 150px;
                                border-bottom: '50%';
                            }
                        }
                    }
                    .footer-text {
                        p {
                            margin-bottom: 14px;
                            font-size: 14px;
                            color: var(--color-light-black);
                            line-height: 28px;
                        }
                        .footer-social-icon{
                            span {
                                color: #fff;
                                display: block;
                                font-size: 20px;
                                font-weight: 700;
                                font-family: 'Poppins', sans-serif;
                                margin-bottom: 20px;
                            }

                            a {
                                color: #fff;
                                font-size: 16px;
                                margin-right: 15px;
                                i {
                                    height: 40px;
                                    width: 40px;
                                    text-align: center;
                                    line-height: 38px;
                                    border-radius: 50%;
                                }
                                .facebook-bg{
                                    background: #3B5998;
                                }
                                .twitter-bg{
                                    background: #55ACEE;
                                }
                                .google-bg{
                                    background: #DD4B39;
                                }
                            }   
                        }
                    }
                    .footer-widget{
                        .footer-widget-heading{
                            h3 {
                                color: var(--color-primary);
                                font-size: var(--h2-font-size);
                                font-weight: 600;
                                margin-bottom: 40px;
                                position: relative;
                                ::before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    bottom: -15px;
                                    height: 2px;
                                    width: 50px;
                                    background: #ff5e14;
                                }
                            }
                        } 

                        ul {
                            li {
                                // display: inline-block;
                                // float: left;
                                width: 50%;
                                margin-bottom: 12px;
                                i{
                                    font-size: var(--normal-font-size);
                                    color: var(--color-primary);
                                }
                                a {
                                    color: var(--color-light-black);
                                    text-decoration: none;
                                    text-transform: capitalize;
                                }
                                a:hover{
                                    color: var(--color-primary);
                                }
                            }
                        }
                        
                    }
                    
                    .subscribe-form{
                        input {
                            width: 100%;
                            padding: 14px 28px;
                            background: #2E2E2E;
                            border: 1px solid #2E2E2E;
                            color: #fff;
                        }

                        button {
                            position: absolute;
                            right: 0;
                            background: #ff5e14;
                            padding: 13px 20px;
                            border: 1px solid #ff5e14;
                            top: 0;
                            i {
                                color: #fff;
                                font-size: 22px;
                                transform: rotate(-6deg);
                            }
                        }
                    }

                    .copyright-area{
                        background: #202020;
                        padding: 25px 0;
                        .copyright-text {
                            p {
                                margin: 0;
                                font-size: 14px;
                                color: #878787;
                                a{
                                    color: #ff5e14;
                                }
                            }
                        }
                    }
                    // .footer-widget- img {
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     height: 330px;
                    //     background-size: cover;
                    //     background-position: 100% 100%;
                    // }
                }
            }
        }
    }
}