@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura\ medium\ bt.ttf');
}

@font-face {
    font-family: 'proxima';
    src: url('../fonts/Proxima\ Nova\ Black.ttf');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.otf');
}

:root {
    // --font-family-futura: var('Futura');
    // --font-family-proxima: var('proxima');
    --header-height:3rem ;
    // defined colors
    --color-primary: #FF9F0D;
    --color-dark-black: #484848;
    --color-light-black: #717171;
    --color-white: #FFFFFF;
    --color-black: #000000;
    // defined font sizes
    // --font-size-large: 50px;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    // defined font families
    --body-font-proxima: 'proxima';
    --body-font-proxima-regular: 'ProximaNova-Regular';
    --body-font-futura: 'proxima';
    // defined font weights
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600 //defined margins
    --m-0-25: .25rem;
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    --m-3: 3rem;
    --br-0-2: 0.2rem;
    --br-1-0: 1rem;
    --br-1-5: 1.5rem;
}

body {
    margin: 0 auto;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.nav-logo {
    width: 32px;
    height: 32px;
}

.blob {
    background: url('../img/blobs/angular-blobs.svg');
    background-repeat: no-repeat;
    background-position: 588px 0;
    background-size: 1100px 750px;
    @media screen and (max-width: 568px) {
        background-position: 30px 0;
        background-size: 350px 250px;
    }
    @media screen and (max-width: 320px) {
        background-position: 30px 0;
        background-size: 436px 250px;
    }
}

.about-blob {
    background: url('../img/blobs/about-blob.svg');
    background-repeat: no-repeat;
    background-position: -550px 0px;
    background-size: 1100px 750px;
    @media screen and (max-width: 568px) {
        background-position: -170px 38px;
        background-size: 409px 271px;
    }
}



.container-fluid {
    .container {
        .top-blob {
            .navbar {
                background: var(--color-white);
                top: 0;
                bottom: initial;
                @media screen and (max-width: 568px) {
                    position: fixed;
                    margin-bottom: 0;
                }
                .container-fluid {
                    .collapse {
                        .margin-left {
                            margin-left: auto;
                            margin-right: 250px;
                            .nav-item {
                                .nav-link {
                                    font-size: var(--normal-font-size);
                                    color: var(--color-black);
                                    font-family: var(--body-font-proxima-regular);
                                    font-weight: var(--font-normal);
                                }
                            }
                        }
                    }
                }
            }
        }
        // .snack-bar {
        //     display: none;
        //     @media screen and (max-width: 568px) {
        //         display: inline;
        //     }
        // }
        .home {
            .home-intro {
                font-size: var(--big-font-size);
                font-family: var(--body-font-proxima);
                color: var(--color-dark-black);
                @media screen and (max-width: 568px) {
                    font-size: var(--h2-font-size);
                }
            }
            .home-food {
                .home-food-image {
                    width: 600px;
                    height: 600px;
                    @media screen and (max-width: 568px) {
                        width: 300px;
                        height: 300px;
                        margin-top: var(--m-2-5);
                    }
                }
            }
            .home-description {
                font-size: var(--normal-font-size);
                color: var(--color-light-black);
                @media screen and (max-width: 568px) {
                    font-size: var(--small-font-size);
                    margin-bottom: var(--m-1-5);
                }
            }
            .home-contact {
                background-color: var(--color-primary);
                padding: 10px 24px;
                border-radius: var(--br-1-5);
                color: var(--color-white);
                text-decoration: none;
                font-family: var(--body-font-futura);
                font-size: var(--smaller-font-size);
                @media screen and (max-width: 568px) {
                    font-size: var(--small-font-size);
                }
            }
        }
        .contact-summary {
            .summarys{
                @media screen and (max-width: 568px) {
                    margin: var(--m-0-75) 0 ;
                }
                .summary-icons {
                    font-size: 32px;
                    color: var(--color-primary)
                }
                .summary-text {
                    font-size: var(--normal-font-size);
                    color: var(--color-black);
                    font-weight: var(--font-semi-bold);
                    font-family: var(var(--body-font-futura));
                }
                .summary-description {
                    font-size: var(--smaller-font-size);
                    color: var(--color-dark-black);
                    font-family: var(--body-font-proxima);
                }
            }
        }
        .about {
            .about-name {
                font-size: var(--h3-font-size);
                font-family: var(--body-font-futura);
                color: var(--color-primary);
            }
            .about-intro {
                font-size: var(--h2-font-size);
                font-family: var(--body-font-proxima);
                color: var(--color-light-black);
                @media screen and (max-width: 568px) {
                    margin: var(--m-0-75) 0 ;
                }
            }
            .about-food {
                .about-food-image {
                    width: 600px;
                    height: 600px;
                    @media screen and (max-width: 568px) {
                        width: 270px;
                        height: 270px;
                    }
                }
            }
            .about-description {
                font-size: var(--normal-font-size);
                color: var(--color-light-black);
            }
            .more {
                background-color: var(--color-primary);
                border-radius: var(--br-1-5);
                text-decoration: none;
                color: var(--color-white);
            }
            .video {
                .icon {
                    color: var(--color-black);
                    font-size: 32px;
                }
                text-decoration: none;
                color: var(--color-light-black);
            }
        }

        .service {
            .service-name {
                font-size: var(--h3-font-size);
                font-family: var(--body-font-futura);
                color: var(--color-primary);
            }
            .service-intro {
                font-size: var(--big-font-size);
                font-family: var(--body-font-proxima);
                color: var(--color-dark-black);
                @media screen and (max-width: 568px) {
                    font-size: var(--h2-font-size);
                }
            }
            .service-img {
                    width: 100px;
                    height: 100px;
                    @media screen and (max-width: 568px) {
                        width: 80px;
                        height: 80px;
                    }
            }
            .service-img-title{
                font-size: var(--h3-font-size);
                font-family: var(--body-font-futura);
                color: var(--color-dark-black);
            }
            .service-description {
                font-size: var(--small-font-size);
                color: var(--color-light-black);
                @media screen and (max-width: 568px) {
                    font-size: var(--small-font-size);
                }
            }
        }

        .menu-list{
            margin-bottom: var(--m-3);
            .menu-list-name {
                font-size: var(--h3-font-size);
                font-family: var(--body-font-futura);
                color: var(--color-primary);
            }
            .menu-list-intro {
                font-size: var(--h2-font-size);
                font-family: var(--body-font-proxima);
                color: var(--color-black);
                @media screen and (max-width: 568px) {
                    font-size: var(--h2-font-size);
                }
            }
            .menu-list-description {
                font-size: var(--small-font-size);
                color: var(--color-light-black);
                @media screen and (max-width: 568px) {
                    font-size: var(--small-font-size);
                }
            }
            .card-body{
                .menu-list-btn{
                    background: var(--color-primary);
                    padding: var(--m-1) var(--m-2-5);
                    border-radius: 43px 0 16px 0;
                    @media screen and (max-width: 568px) {
                        padding: var(--m-0-75) var(--m-1);
                        border-radius: 43px 0 16px 0;
                    }
                    .menu-list-btn-icon{
                        font-size: var(--h1-font-size);
                        color: var(--color-white);
                        @media screen and (max-width: 568px) {
                            font-size: var(--normal-font-size);
                        }
                    }
                }
                .menu-item-price{
                    font-size: var(--h1-font-size);
                    color: var(--color-black);
                    font-family: var(--body-font-futura);
                }
            } 
            .menu-list-load-more{
                background-color: var(--color-primary);
                border-radius: var(--br-1-5);
                font-family: var(--body-font-futura);
                text-decoration: none;
                color: var(--color-white);
                width: 130px;
                padding: var(--m-0-75) var(--m-1-5);
            }
        }

        .footer{
            .row{
                .nav-link{
                    font-size: var(--small-font-size);
                    color: var(--color-light-black);
                    font-family: var(--body-font-futura);
                }
            }
            .footer-logo-img{
                width: 36px;
                height: 36px;
            }
            .footer-href{
                .footer-icons{
                    font-size: 18px;
                    color: var(--color-black);
                }
            }
            .footer-description{
                font-size: var(--normal-font-size);
                color: var(--color-light-black);
                margin-top: var(--m-2-5);
                @media screen and (max-width: 568px) {
                    font-size: var(--small-font-size);
                }
            }
            .details{
                .footer-description{
                    font-size: var(--normal-font-size);
                    color: var(--color-light-black);
                    margin-top: var(--m-2-5);
                    @media screen and (max-width: 568px) {
                        font-size: var(--small-font-size);
                    }
                }
                .footer-icons{
                    .footer-icon{
                        font-size: var(--h3-font-size);
                        color: var(--color-light-black);
                        @media screen and (max-width: 568px) {
                            font-size: var(--small-font-size);
                        } 
                    }
                }
            }
        }
        .footer-img{
            background: url('../img/cabbage-flower.png');
            background-repeat: no-repeat;
            background-position: 1054px 0px;
            background-size: 245px 360px;
            // @media screen and (max-width: 568px) {
            //     background-position: -170px 38px;
            //     background-size: 409px 271px;
            // }
        }
    }
}