@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "Futura";
  src: url("../fonts/futura medium bt.ttf?#iefix");
}
@font-face {
  font-family: "proxima";
  src: url("../fonts/Proxima Nova Black.ttf?#iefix");
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova-Regular.otf?#iefix");
}
:root {
  --header-height:3rem ;
  --color-primary: #ff9f0d;
  --color-dark-black: #484848;
  --color-light-black: #1f0f50;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray: rgba(105,105,105, 0.5);
  --eight-rem: 8rem;
  --large-font-size:3.8rem;
  --big-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --sub-title-font-size: 1.27rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;
  --body-font-proxima: "Futura";
  --body-font-bamini: "Mukta Malar", sans-serif;
  --body-font-weight: 800;
  --body-font-proxima-regular: "Futura";
  --body-font-futura: "Futura";
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600 ;
  --font-bold: 800;
  --m-0-25: .25rem;
  --m-0-5: .5rem;
  --m-0-75: .75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;
  --br-0-2: 0.2rem;
  --br-1-0: 1rem;
  --br-1-5: 1.5rem;
  --space-1-rem: 1rem;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

nav {
  height: 70px;
  width: 100vw;
  background-color: var(--color-white);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
}
nav .logo {
  padding: 1vh 1vw;
  text-align: center;
  margin: 0 0 0 6vw;
}
nav .logo img {
  width: 44px;
  height: auto;
}
nav .nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
}
nav .nav-links li {
  position: relative;
}
nav .nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: var(--color-primary);
  font-size: var(--normal-font-size);
  font-family: var(--body-font-futura);
}
nav .nav-links li a:hover {
  color: var(--color-primary);
}
nav .nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: var(--color-light-black);
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
nav .nav-links li a:hover::before {
  width: 80%;
}
nav .nav-links li .join-button {
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1.5px solid var(--color-primary);
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-family: var(--body-font-futura);
  font-size: var(--normal-font-size);
  cursor: pointer;
}
nav .nav-links li .join-button:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: all ease-in-out 350ms;
}
nav .hamburger {
  display: none;
}
nav .hamburger div {
  width: 30px;
  height: 3px;
  background: var(--color-primary);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  nav .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  nav .hamburger .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav .hamburger .toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
  }
  nav .hamburger .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  nav .nav-links {
    position: fixed;
    background: var(--color-white);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    top: -8px;
  }
  nav .nav-links li {
    opacity: 0;
  }
  nav .nav-links li {
    transition: all 0.5s ease 0.2s;
  }
  nav .nav-links li.fade {
    opacity: 1;
  }
  nav .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
}
.container-fluid .container .home {
  margin: 100px 0 80px 0;
}
@media only screen and (max-width: 767px) {
  .container-fluid .container .home {
    margin: 50px 0 0 0;
  }
}
.container-fluid .container .home .banner_img {
  width: 100%;
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .banner_img {
    width: 40%;
    margin: var(--m-1-5) auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 425px) {
  .container-fluid .container .home .banner_img {
    width: 60%;
    margin-top: var(--m-0-5);
  }
}
.container-fluid .container .home .home-intro.english {
  font-size: var(--large-font-size);
  font-family: var(--body-font-futura);
  color: var(--color-primary);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .home .home-intro.english {
    font-size: var(--h1-font-size);
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-intro.english {
    font-size: var(--h1-font-size);
  }
}
@media screen and (max-width: 425px) {
  .container-fluid .container .home .home-intro.english {
    font-size: var(--big-font-size);
  }
}
.container-fluid .container .home .home-intro.tamil {
  font-size: var(--large-font-size);
  font-family: var(--body-font-bamini);
  font-weight: var(--font-bold);
  color: var(--color-primary);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .home .home-intro.tamil {
    font-size: var(--h1-font-size);
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-intro.tamil {
    font-size: var(--h1-font-size);
  }
}
@media screen and (max-width: 425px) {
  .container-fluid .container .home .home-intro.tamil {
    font-size: var(--big-font-size);
  }
}
.container-fluid .container .home .home-food .popular-food-item {
  color: var(--color-dark-black);
  font-family: var(--body-font-proxima);
  font-size: var(--h3-font-size);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .home .home-food .popular-food-item {
    font-size: var(--normal-font-size);
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-food .popular-food-item {
    font-size: var(--small-font-size);
  }
}
.container-fluid .container .home .home-food .swiper {
  width: 400px;
  height: 450px;
  margin: var(--m-2-5) auto;
}
@media screen and (max-width: 768px) {
  .container-fluid .container .home .home-food .swiper {
    width: 270px;
    height: 308px;
    margin: var(--m-1-5) auto;
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-food .swiper {
    width: 250px;
    height: 300px;
    margin: var(--m-3) auto;
  }
}
.container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: var(--normal-font-size);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .slide_icon_left {
  font-size: var(--big-font-size);
  position: absolute;
  left: 31px;
  top: 311px;
}
@media screen and (max-width: 768px) {
  .container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .slide_icon_left {
    font-size: 32px;
    left: 12px;
    top: 205px;
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .slide_icon_left {
    font-size: 22px;
    left: 15px;
    top: 184px;
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .slide_icon_left {
    font-size: 32px;
    left: 12px;
    top: 190px;
  }
}
.container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .slide_icon_right {
  font-size: var(--big-font-size);
  position: absolute;
  right: 31px;
  top: 311px;
}
@media screen and (max-width: 768px) {
  .container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .slide_icon_right {
    font-size: 32px;
    right: 12px;
    top: 205px;
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .slide_icon_right {
    font-size: 22px;
    right: 15px;
    top: 184px;
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .slide_icon_right {
    font-size: 32px;
    right: 12px;
    top: 190px;
  }
}
.container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .swiper-img {
  width: 300px;
  height: auto;
  filter: drop-shadow(5px 5px 5px var(--color-light-black));
}
@media screen and (max-width: 768px) {
  .container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .swiper-img {
    position: absolute;
    top: 38px;
    width: 200px;
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .swiper-img {
    width: 200px;
  }
}
.container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .swiper-img-name {
  font-size: var(--h2-font-size);
  font-family: var(--body-font-futura);
  position: absolute;
  bottom: 7px;
}
@media screen and (max-width: 768px) {
  .container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .swiper-img-name {
    font-size: var(--h3-font-size);
    bottom: 12px;
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .swiper-img-name {
    font-size: var(--normal-font-size);
    bottom: 16px;
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide .swiper-img-name {
    bottom: 10px;
  }
}
.container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide:nth-child(odd) {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.container-fluid .container .home .home-food .swiper .swiper-wrapper .swiper-slide:nth-child(even) {
  background: var(--color-white);
  color: var(--color-primary);
}
.container-fluid .container .home .home-food .home-food-image {
  width: 500px;
  height: 500px;
}
@media screen and (max-width: 768px) {
  .container-fluid .container .home .home-food .home-food-image {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-food .home-food-image {
    width: 300px;
    height: 300px;
    margin: 50px 0 50px 29px;
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .home .home-food .home-food-image {
    width: 270px;
    height: 270px;
    margin: 50px -16px 50px -3px;
  }
}
.container-fluid .container .home .home-food-description.english {
  font-family: var(--body-font-proxima);
  font-size: var(--h1-font-size);
  color: var(--color-light-black);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .home .home-food-description.english {
    font-size: var(--h3-font-size);
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-food-description.english {
    font-size: var(--h2-font-size);
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .home .home-food-description.english {
    font-size: var(--h2-font-size);
  }
}
.container-fluid .container .home .home-food-description.english .home-price {
  color: var(--color-primary);
}
.container-fluid .container .home .home-food-description.tamil {
  font-family: var(--body-font-bamini);
  font-size: var(--h1-font-size);
  color: var(--color-light-black);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .home .home-food-description.tamil {
    font-size: var(--h3-font-size);
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-food-description.tamil {
    font-size: var(--h2-font-size);
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .home .home-food-description.tamil {
    font-size: var(--h2-font-size);
  }
}
.container-fluid .container .home .home-food-description.tamil .home-price {
  color: var(--color-primary);
}
.container-fluid .container .home .home-description.english {
  font-size: var(--h3-font-size);
  color: var(--color-light-black);
  margin-bottom: var(--m-3);
  font-family: var(--body-font-proxima-regular);
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .container-fluid .container .home .home-description.english {
    font-size: var(--normal-font-size);
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-description.english {
    margin-bottom: var(--m-1-5);
  }
}
.container-fluid .container .home .home-description.tamil {
  font-size: var(--h3-font-size);
  color: var(--color-light-black);
  margin-bottom: var(--m-3);
  font-family: var(--body-font-bamini);
  font-weight: var(--font-medium);
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .container-fluid .container .home .home-description.tamil {
    font-size: var(--normal-font-size);
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-description.tamil {
    margin-bottom: var(--m-1-5);
  }
}
.container-fluid .container .home .home-contact.english {
  background-color: var(--color-primary);
  padding: 16px 32px;
  border-radius: 50px;
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--body-font-futura);
  font-size: var(--normal-font-size);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-contact.english {
    font-size: var(--small-font-size);
  }
}
.container-fluid .container .home .home-contact.tamil {
  background-color: var(--color-primary);
  padding: 16px 32px;
  border-radius: 50px;
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--body-font-bamini);
  font-size: var(--normal-font-size);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 568px) {
  .container-fluid .container .home .home-contact.tamil {
    font-size: var(--small-font-size);
  }
}
.container-fluid .container .home .home-contact:hover {
  box-shadow: 4px 4px 36px var(--color-primary);
  transition: 1000ms ease-in-out;
  cursor: pointer;
}
.container-fluid .container .contact-summary {
  margin: 20px 0 20px 0;
}
@media screen and (max-width: 568px) {
  .container-fluid .container .contact-summary .summarys {
    margin: var(--m-0-75) 0;
  }
}
.container-fluid .container .contact-summary .summarys .summary-tag .summary-icons {
  font-size: 32px;
  color: var(--color-primary);
}
.container-fluid .container .contact-summary .summarys .summary-tag .summary-icons:hover {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 5px 8px;
  border-radius: 100%;
  transition: 1000ms ease-in-out;
  box-shadow: 4px 4px 36px var(--color-primary);
  cursor: pointer;
}
.container-fluid .container .contact-summary .summarys .summary-text .summary-href.english {
  font-size: var(--normal-font-size);
  color: var(--color-black);
  font-weight: var(--font-semi-bold);
  font-family: var(--body-font-futura);
  text-decoration: none;
}
.container-fluid .container .contact-summary .summarys .summary-text .summary-href.tamil {
  font-size: var(--h3-font-size);
  color: var(--color-black);
  font-weight: var(--font-semi-bold);
  font-family: var(--body-font-bamini);
  text-decoration: none;
}
.container-fluid .container .contact-summary .summarys .summary-description.english {
  font-size: var(--smaller-font-size);
  color: var(--color-dark-black);
  font-family: var(--body-font-proxima);
}
.container-fluid .container .contact-summary .summarys .summary-description.tamil {
  font-size: var(--smaller-font-size);
  color: var(--color-dark-black);
  font-family: var(--body-font-bamini);
}
.container-fluid .container .about {
  margin: 100px 0 50px 0;
}
.container-fluid .container .about .about-name.english {
  font-size: var(--h3-font-size);
  font-family: var(--body-font-futura);
  color: var(--color-light-black);
}
.container-fluid .container .about .about-name.tamil {
  font-size: var(--h3-font-size);
  font-family: var(--body-font-bamini);
  font-weight: var(--font-medium);
  color: var(--color-light-black);
}
.container-fluid .container .about .about-intro.english {
  font-size: var(--big-font-size);
  font-family: var(--body-font-futura);
  color: var(--color-primary);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .about .about-intro.english {
    font-size: var(--h2-font-size);
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .about .about-intro.english {
    font-size: var(--h2-font-size);
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .about .about-intro.english {
    font-size: var(--h2-font-size);
  }
}
.container-fluid .container .about .about-intro.tamil {
  font-size: var(--big-font-size);
  font-family: var(--body-font-bamini);
  font-weight: var(--font-semi-bold);
  color: var(--color-primary);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .about .about-intro.tamil {
    font-size: var(--h2-font-size);
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .about .about-intro.tamil {
    font-size: var(--h2-font-size);
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .about .about-intro.tamil {
    font-size: var(--h2-font-size);
  }
}
.container-fluid .container .about .about-food .about-food-image {
  width: 500px;
  height: 500px;
}
@media screen and (max-width: 768px) {
  .container-fluid .container .about .about-food .about-food-image {
    width: 350px;
    height: auto;
    border-radius: 50%;
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .about .about-food .about-food-image {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .about .about-food .about-food-image {
    width: 270px;
    height: 270px;
  }
}
.container-fluid .container .about .about-description.english {
  font-size: var(--h3-font-size);
  color: var(--color-light-black);
  font-family: var(--body-font-proxima-regular);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .about .about-description.english {
    font-size: var(--normal-font-size);
  }
}
.container-fluid .container .about .about-description.tamil {
  font-size: var(--h3-font-size);
  color: var(--color-light-black);
  font-family: var(--body-font-bamini);
  font-weight: var(--font-medium);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .about .about-description.tamil {
    font-size: var(--normal-font-size);
  }
}
.container-fluid .container .about .more {
  background-color: var(--color-primary);
  border-radius: var(--br-1-5);
  text-decoration: none;
  color: var(--color-white);
}
.container-fluid .container .about .video {
  text-decoration: none;
  color: var(--color-light-black);
}
.container-fluid .container .about .video .icon {
  color: var(--color-black);
  font-size: 32px;
}
.container-fluid .container .services {
  margin: 100px 0 100px 0;
}
.container-fluid .container .services .service-name {
  font-size: var(--h3-font-size);
  font-family: var(--body-font-futura);
  color: var(--color-light-black);
}
.container-fluid .container .services .service-intro.english {
  font-size: var(--big-font-size);
  font-family: var(--body-font-proxima);
  color: var(--color-primary);
}
@media screen and (max-width: 568px) {
  .container-fluid .container .services .service-intro.english {
    font-size: var(--h2-font-size);
  }
}
.container-fluid .container .services .service-intro.tamil {
  font-size: var(--big-font-size);
  font-family: var(--body-font-bamini);
  color: var(--color-primary);
  font-weight: var(--font-medium);
}
@media screen and (max-width: 568px) {
  .container-fluid .container .services .service-intro.tamil {
    font-size: var(--h2-font-size);
  }
}
.container-fluid .container .services .service-description.english {
  font-size: var(--h3-font-size);
  color: var(--color-light-black);
  font-family: var(--body-font-proxima-regular);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .services .service-description.english {
    font-size: var(--normal-font-size);
  }
}
.container-fluid .container .services .service-description.tamil {
  font-size: var(--h3-font-size);
  color: var(--color-light-black);
  font-family: var(--body-font-bamini);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .services .service-description.tamil {
    font-size: var(--normal-font-size);
  }
}
.container-fluid .container .services .card {
  position: relative;
  margin: 30px 0;
}
.container-fluid .container .services .card .card-img-top {
  background-position: center center;
  background-size: cover;
  position: relative;
}
.container-fluid .container .services .card .card-img-overlay {
  top: unset;
  color: #fff;
  max-height: 200px; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.8) 80%, rgb(0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#001a606f", endColorstr="#e8154159",GradientType=0 );
}
.container-fluid .container .services .card .card-img-overlay .card-title.english {
  font-size: var(--h1-font-size);
  font-family: var(--body-font-futura);
  color: var(--color-white);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .services .card .card-img-overlay .card-title.english {
    font-size: var(--h2-font-size);
  }
}
.container-fluid .container .services .card .card-img-overlay .card-title.tamil {
  font-size: var(--h1-font-size);
  font-family: var(--body-font-bamini);
  color: var(--color-white);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .services .card .card-img-overlay .card-title.tamil {
    font-size: var(--h2-font-size);
  }
}
.container-fluid .container .services .card .card-img-overlay .card-text {
  color: var(--color-primary);
  font-size: var(--normal-font-size);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .services .card .card-img-overlay .card-text {
    font-size: var(--normal-font-size);
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .services .card .card-img-overlay .card-text {
    font-size: var(--small-font-size);
  }
}
.container-fluid .container .services .card .card-icon {
  width: 100%;
  height: 70px;
  position: absolute;
  font-size: var(--h3-font-size);
  text-decoration: none;
  bottom: unset; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7));
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .container-fluid .container .services .card .card-icon {
    font-size: var(--h3-font-size) !important;
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .services .card .card-icon {
    font-size: var(--h2-font-size);
  }
}
.container-fluid .container .services .card .card-icon i {
  position: relative;
  margin: 10px 20px 0 0;
  color: var(--color-white);
}
.container-fluid .container .services .card .card-icon:hover i {
  color: var(--color-primary);
  transition: 1000ms ease-in-out;
}
.container-fluid .container .services .card:hover {
  transform: scale(1.015);
  transition: 1000ms ease-in-out;
}
.container-fluid .container .menus {
  margin-bottom: var(--m-3);
}
.container-fluid .container .menus .menu-list-name.english {
  font-size: var(--h3-font-size);
  font-family: var(--body-font-futura);
  color: var(--color-black);
}
.container-fluid .container .menus .menu-list-name.tamil {
  font-size: var(--h3-font-size);
  font-family: var(--body-font-bamini);
  color: var(--color-black);
}
.container-fluid .container .menus .menu-list-intro.english {
  font-size: var(--big-font-size);
  font-family: var(--body-font-proxima);
  color: var(--color-primary);
}
@media screen and (max-width: 568px) {
  .container-fluid .container .menus .menu-list-intro.english {
    font-size: var(--h2-font-size);
  }
}
.container-fluid .container .menus .menu-list-intro.tamil {
  font-size: var(--big-font-size);
  font-family: var(--body-font-bamini);
  color: var(--color-primary);
  font-weight: var(--font-medium);
}
@media screen and (max-width: 568px) {
  .container-fluid .container .menus .menu-list-intro.tamil {
    font-size: var(--h2-font-size);
  }
}
.container-fluid .container .menus .menu-list-description.english {
  font-size: var(--h3-font-size);
  color: var(--color-light-black);
  font-family: var(--body-font-proxima-regular);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .menus .menu-list-description.english {
    font-size: var(--normal-font-size);
  }
}
.container-fluid .container .menus .menu-list-description.tamil {
  font-size: var(--h3-font-size);
  color: var(--color-light-black);
  font-family: var(--body-font-bamini);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .menus .menu-list-description.tamil {
    font-size: var(--normal-font-size);
  }
}
.container-fluid .container .menus .menu-gallery-tabs .gallery .category {
  text-transform: capitalize;
  font-weight: 700;
  color: #9A9A9A;
}
.container-fluid .container .menus .menu-gallery-tabs .gallery .card .card-header {
  background-color: var(--color-white);
}
.container-fluid .container .menus .menu-gallery-tabs .gallery .card .card-header .nav-tabs .nav-item .nav-link {
  transition: all 300ms ease 0s;
}
.container-fluid .container .menus .menu-gallery-tabs .gallery .card .card-header .nav-tabs .nav-item .nav-link .now-ui-icons {
  display: inline-block;
  font: normal normal normal 14px/1 "Nucleo Outline";
  font-size: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-fluid .container .menus .accordion .accordion-item {
  margin: var(--m-2) 0;
  border-radius: var(--br-1-0);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}
.container-fluid .container .menus .accordion .accordion-item .accordion-header .accordion-button .food-items-title.english {
  color: var(--color-primary);
  font-family: var(--body-font-proxima);
  font-size: var(--h1-font-size);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .menus .accordion .accordion-item .accordion-header .accordion-button .food-items-title.english {
    font-size: var(--h2-font-size);
  }
}
.container-fluid .container .menus .accordion .accordion-item .accordion-header .accordion-button .food-items-title.tamil {
  color: var(--color-primary);
  font-family: var(--body-font-bamini);
  font-weight: var(--font-semi-bold);
  font-size: var(--h1-font-size);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .menus .accordion .accordion-item .accordion-header .accordion-button .food-items-title.tamil {
    font-size: var(--h2-font-size);
  }
}
.container-fluid .container .menus .accordion .accordion-item .accordion-header .accordion-button .food-items-description.english {
  color: var(--color-light-black);
  font-family: var(--body-font-proxima-regular);
  font-size: var(--h3-font-size);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .menus .accordion .accordion-item .accordion-header .accordion-button .food-items-description.english {
    font-size: var(--normal-font-size);
  }
}
.container-fluid .container .menus .accordion .accordion-item .accordion-header .accordion-button .food-items-description.tamil {
  color: var(--color-light-black);
  font-family: var(--body-font-bamini);
  font-size: var(--h3-font-size);
}
@media screen and (max-width: 768px) {
  .container-fluid .container .menus .accordion .accordion-item .accordion-header .accordion-button .food-items-description.tamil {
    font-size: var(--normal-font-size);
  }
}
.container-fluid .container .menus .accordion .accordion-item .accordion-header .accordion-button .food-item-img {
  width: 200px;
  height: auto;
}
@media screen and (max-width: 568px) {
  .container-fluid .container .menus .accordion .accordion-item .accordion-header .accordion-button .food-item-img {
    display: none;
  }
}
.container-fluid .container .menus .accordion .accordion-item .accordion-header .accordion-button::after {
  background-image: url("../icons/angle-down.svg");
  color: var(--color-primary);
}
.container-fluid .container .menus .accordion .accordion-item .accordion-button {
  color: var(--color-primary);
  text-decoration: none;
}
.container-fluid .container .menus .accordion .accordion-item .accordion-button[aria-expanded=true] {
  background-color: rgba(var(--color-white), 0 0, 0.5);
}
.container-fluid .container .menus .accordion .accordion-item .accordion-button:hover {
  transform: scale(1.01);
  transition: 1000ms ease-in-out;
  color: var(--color-black);
}
.container-fluid .container .menus .accordion .accordion-item .accordion-button:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.container-fluid .container .menus .accordion .accordion-body .card {
  border: none;
}
.container-fluid .container .menus .accordion .accordion-body .card .card-header {
  background: var(--color-white);
  border: none;
}
.container-fluid .container .menus .accordion .accordion-body .card .card-header .nav-tabs {
  transition: all 300ms ease 0s;
  border: none;
}
.container-fluid .container .menus .accordion .accordion-body .card .card-header .nav-tabs [data-toggle=collapse][data-parent="#accordion"] i {
  transition: transform 150ms ease 0s;
}
.container-fluid .container .menus .accordion .accordion-body .card .card-header .nav-tabs [data-toggle=collapse][data-parent="#accordion"][aria-expanded=true] i {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  transform: rotate(180deg);
}
.container-fluid .container .menus .accordion .accordion-body .card .card-header .nav-tabs .nav-item {
  margin: 0 var(--m-1-5);
  transition: all 300ms ease 0s;
  font-family: var(--body-font-proxima-regular);
}
@media screen and (max-width: 568px) {
  .container-fluid .container .menus .accordion .accordion-body .card .card-header .nav-tabs .nav-item {
    margin: 0 var(--m-0-75);
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .menus .accordion .accordion-body .card .card-header .nav-tabs .nav-item {
    margin: 8px auto;
  }
}
.container-fluid .container .menus .accordion .accordion-body .card .card-header .nav-tabs .nav-item .nav-link {
  transition: all 300ms ease 0s;
  padding: var(--m-0-75) var(--m-1-5);
  cursor: pointer;
  background: var(--color-dark-black);
  color: var(--color-white);
  border-radius: 154px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 568px) {
  .container-fluid .container .menus .accordion .accordion-body .card .card-header .nav-tabs .nav-item .nav-link {
    padding: var(--m-0-5) var(--m-0-75);
    padding: 10px 20px;
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .menus .accordion .accordion-body .card .card-header .nav-tabs .nav-item .nav-link {
    width: 150px;
  }
}
.container-fluid .container .menus .accordion .accordion-body .card .card-header .nav-tabs .nav-item .nav-link .now-ui-icons {
  display: inline-block;
  font-family: var(--body-font-proxima-regular);
  font-size: var(--normal-font-size);
  color: var(--color-white);
}
@media screen and (max-width: 568px) {
  .container-fluid .container .menus .accordion .accordion-body .card .card-header .nav-tabs .nav-item .nav-link .now-ui-icons {
    font-size: var(--small-font-size);
  }
}
@keyframes nc-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container-fluid .container .menus .accordion .accordion-body .card .card-header .nav-tabs .nav-item .active {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 154px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}
.container-fluid .container .menus .accordion .accordion-body .gallery-items {
  border-radius: var(--br-1-5);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}
.container-fluid .container .menus .accordion .accordion-body .gallery-items .menu_images {
  height: 280px;
}
@media screen and (max-width: 768px) {
  .container-fluid .container .menus .accordion .accordion-body .gallery-items .menu_images {
    height: 146px;
  }
}
@media screen and (max-width: 568px) {
  .container-fluid .container .menus .accordion .accordion-body .gallery-items .menu_images {
    height: 211px;
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .menus .accordion .accordion-body .gallery-items .menu_images {
    height: 152px;
  }
}
.container-fluid .container .menus .accordion .accordion-body .gallery-items .menu_images .card-img-top {
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: var(--m-1);
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px 5px var(--color-light-black));
}
.container-fluid .container .menus .accordion .accordion-body .gallery-items:hover {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
  transition: 1000ms ease-in-out;
  transform: scale(1.05) ease-in-out;
}
.container-fluid .container .menus .card-body {
  margin-top: var(--m-0-75);
}
.container-fluid .container .menus .card-body .card-title.english {
  font-size: var(--h1-font-size);
  color: var(--color-primary);
  font-family: var(--body-font-futura);
  padding: 0 0 var(--m-0-75) 0;
}
@media screen and (max-width: 768px) {
  .container-fluid .container .menus .card-body .card-title.english {
    font-size: var(--h2-font-size);
  }
}
@media screen and (min-width: 569px) {
  .container-fluid .container .menus .card-body .card-title.english {
    font-size: var(--h2-font-size);
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .menus .card-body .card-title.english {
    font-size: var(--normal-font-size);
  }
}
.container-fluid .container .menus .card-body .card-title.tamil {
  font-size: var(--h1-font-size);
  color: var(--color-primary);
  font-family: var(--body-font-bamini);
  padding: 0 0 var(--m-0-75) 0;
}
@media screen and (max-width: 768px) {
  .container-fluid .container .menus .card-body .card-title.tamil {
    font-size: var(--h2-font-size);
  }
}
@media screen and (min-width: 569px) {
  .container-fluid .container .menus .card-body .card-title.tamil {
    font-size: var(--h2-font-size);
  }
}
@media screen and (max-width: 400px) {
  .container-fluid .container .menus .card-body .card-title.tamil {
    font-size: var(--normal-font-size);
  }
}
.container-fluid .container .menus .card-body .menu-list-btn {
  background: var(--color-primary);
  padding: var(--m-1) var(--m-2-5);
  border-radius: 43px 0 16px 0;
}
@media screen and (max-width: 568px) {
  .container-fluid .container .menus .card-body .menu-list-btn {
    padding: var(--m-0-75) var(--m-1);
    border-radius: 43px 0 16px 0;
  }
}
.container-fluid .container .menus .card-body .menu-list-btn .menu-list-btn-icon {
  font-size: var(--h1-font-size);
  color: var(--color-white);
}
@media screen and (max-width: 568px) {
  .container-fluid .container .menus .card-body .menu-list-btn .menu-list-btn-icon {
    font-size: var(--normal-font-size);
  }
}
.container-fluid .container .menus .card-body .menu-item-price {
  font-size: var(--h1-font-size);
  color: var(--color-dark-black);
  font-family: var(--body-font-proxima-regular);
  margin: 0 0 0 53px;
}
@media screen and (max-width: 1024px) {
  .container-fluid .container .menus .card-body .menu-item-price {
    font-size: var(--h3-font-size);
    margin: 0 0 0 -1px;
  }
}
@media screen and (min-width: 569px) {
  .container-fluid .container .menus .card-body .menu-item-price {
    font-size: var(--normal-font-size);
    margin: 0 0 0 20px;
  }
}
@media screen and (max-width: 328px) {
  .container-fluid .container .menus .card-body .menu-item-price {
    font-size: var(--small-font-size);
    margin: 8px 0 0 0;
  }
}
.container-fluid .container .footer .footer-section {
  position: relative;
}
.container-fluid .container .footer .footer-section .footer-cta {
  border-bottom: 1px solid #373636;
}
.container-fluid .container .footer .footer-section .footer-cta .single-cta i {
  color: var(--color-primary);
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.container-fluid .container .footer .footer-section .footer-cta .cta-text {
  padding-left: 15px;
  display: inline-block;
}
.container-fluid .container .footer .footer-section .footer-cta .cta-text h4 {
  color: var(--color-primary);
  font-size: 20px;
  font-family: var(--body-font-futura);
  font-weight: 600;
  margin-bottom: 2px;
}
.container-fluid .container .footer .footer-section .footer-cta .cta-text span {
  color: var(--color-light-black);
  font-size: 15px;
}
.container-fluid .container .footer .footer-section .footer-content {
  position: relative;
  z-index: 2;
}
.container-fluid .container .footer .footer-section .footer-content .footer-widget .footer-logo {
  margin-bottom: 30px;
}
.container-fluid .container .footer .footer-section .footer-content .footer-widget .footer-logo img {
  max-width: 150px;
  border-bottom: "50%";
}
.container-fluid .container .footer .footer-section .footer-content .footer-widget .footer_contact {
  font-family: var(--body-font-proxima-regular);
}
.container-fluid .container .footer .footer-section .footer-content .footer-text .footer_description {
  margin-bottom: 14px;
  font-size: 14px;
  color: var(--color-light-black);
  line-height: 28px;
  font-family: var(--body-font-proxima-regular);
}
.container-fluid .container .footer .footer-section .footer-content .footer-text .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.container-fluid .container .footer .footer-section .footer-content .footer-text .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.container-fluid .container .footer .footer-section .footer-content .footer-text .footer-social-icon a i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.container-fluid .container .footer .footer-section .footer-content .footer-text .footer-social-icon a .facebook-bg {
  background: #3B5998;
}
.container-fluid .container .footer .footer-section .footer-content .footer-text .footer-social-icon a .twitter-bg {
  background: #55ACEE;
}
.container-fluid .container .footer .footer-section .footer-content .footer-text .footer-social-icon a .google-bg {
  background: #DD4B39;
}
.container-fluid .container .footer .footer-section .footer-content .footer-widget .footer-widget-heading .footer_title.english {
  color: var(--color-primary);
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin-bottom: 40px;
  font-family: var(--body-font-proxima);
  position: relative;
}
.container-fluid .container .footer .footer-section .footer-content .footer-widget .footer-widget-heading .footer_title.english ::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.container-fluid .container .footer .footer-section .footer-content .footer-widget .footer-widget-heading .footer_title.tamil {
  color: var(--color-primary);
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin-bottom: 40px;
  font-family: var(--body-font-proxima);
  position: relative;
}
.container-fluid .container .footer .footer-section .footer-content .footer-widget .footer-widget-heading .footer_title.tamil ::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.container-fluid .container .footer .footer-section .footer-content .footer-widget ul li {
  width: 50%;
  margin-bottom: 12px;
}
.container-fluid .container .footer .footer-section .footer-content .footer-widget ul li i {
  font-size: var(--normal-font-size);
  color: var(--color-primary);
}
.container-fluid .container .footer .footer-section .footer-content .footer-widget ul li a {
  color: var(--color-light-black);
  text-decoration: none;
  text-transform: capitalize;
}
.container-fluid .container .footer .footer-section .footer-content .footer-widget ul li a:hover {
  color: var(--color-primary);
}
.container-fluid .container .footer .footer-section .footer-content .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.container-fluid .container .footer .footer-section .footer-content .subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.container-fluid .container .footer .footer-section .footer-content .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.container-fluid .container .footer .footer-section .footer-content .copyright-area {
  background: #202020;
  padding: 25px 0;
}
.container-fluid .container .footer .footer-section .footer-content .copyright-area .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.container-fluid .container .footer .footer-section .footer-content .copyright-area .copyright-text p a {
  color: #ff5e14;
}/*# sourceMappingURL=style.css.map */